@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&family=Montserrat:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}


body {
    font-family: 'Montserrat', sans-serif;

}

.container {
    width: 100%;
    max-width: 1440px;
    display: flex;
    margin: auto;
    padding-bottom: 2.5rem;
}

.fContainer {
    width: 100%;
    max-width: 1440px;
    display: flex;
    margin: auto;
}

.hContainer {
    width: 100%;
    max-width: 1440px;
    display: flex;
    margin: auto;
}

/*HEADER*/

header {
    background-color: #AACD3E;
    display: flex;
    flex-direction: row;
    filter: drop-shadow(1px  2px 4px #BFBFBF);

}

nav{
    margin: 20px 0 0  693px;
}


.headerInner{
    display: flex;
}

.navBtn {
    margin-left: 15px;
    color: black;
    text-decoration: none;
    border: none;
    background-color: #AACD3E;
    font-size: 16px;
    justify-content: space-between;

}


.navBtn{
    margin-right: 0;
}



.navBtn:hover {
    color: #cb492b;
    transition: 0.5s;
}


.logo {
    padding: 15px 0;
}





/*MAIN*/


.main {
    margin-top: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* PRODUCT */

.prodRow {
    margin-top: 50px;
    flex-direction: row;
}

.prodRow:first-child {
    margin-top: 0;
}

.leftSide {
    float: left;
}

.rightSide {
    float: right;
    max-width: 50%;
    margin-left: 264px;
}

.Prod {
    display: flex;
    flex-direction: row;
    max-width: 588px;
    height: 301px;
}

.prodDesc {
    padding: 0 0 0 21px;
    display: flex;
    flex-direction: column;
}

.prodImg {
    width: 223px;
    height: 301px;
}

.prodTitle {
    background: none;
    border: none;
    padding: 0;
    font-size: 32px;
    font-weight: bold;
}

.prodSub {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-weight: 200;
    color: #767676;
    margin-bottom: auto;
}

.lPrice {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: #767676;

}

.price {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 34px;
}

.inCart {
    width: 136px;
    height: 45px;
    background-color: #AACD3E;
    border: none;
    font-size: 21px;
    padding: 7px 9px;
    border-radius: 50px;
    float: right;
    -webkit-transition: top 1s ease-out 0.5s;
    -moz-transition: top 1s ease-out 0.5s;
    -o-transition: top 1s ease-out 0.5s;
    transition: top 1s ease-out 0.5s;
}

.inCart:hover {
    color: white;
    background-color: #cb492b;
    transition: all 0.5s ease;

}

.priceBtn {
    display: flex;
    justify-content: space-between;
}



/* ABOUT */

.about{
    background-image: url("images/bcLogo.svg");
    background-size: 709px 629px;
    background-repeat: no-repeat;
    padding-bottom: 346.49px;
    background-position: center;
    left: 1000px;
}


.background {
    background-image: url("images/bcLogo.svg");
    background-size: 709px 629px;
    background-repeat: no-repeat;
    padding-bottom: 346.49px;
    background-position: center;
    left: 1000px;
}



.abTitle{
    margin:76px 0 7px 0 ;
    font-size: 64px;
}

.abSub{
    font-size: 24px;
    font-weight: 400;
}

.bot{
    margin-bottom: 324px;
}



/* PROFILE */

.profile{
    display: flex;
}

.profTitle{
    margin: 33px 0 55px ;
}

.profileIcon{
    margin: 0;
    padding: 0;
    width: 27px;
    height: 27px;
}

.picSect{
    flex-direction: column;
}

.profPic{
    width: 178px;
    height: 178px;
}

.profInfo{
    margin: 29px 0 0 50px;
    line-height: 40px;
}

.profLeftSide{
    float: left;
    font-weight: bold;
}

.profBtns{
    justify-content: space-between;
    font-size: 14px;
}

.profNo{
    font-weight: normal;
}

.adress{
    padding: 8px 22px;
    border:none;
    border-radius: 50px;
    background-color: #F6F6F6;
    color: #CB492B;
    margin-left: 110px;
    margin-bottom: 38px;
    filter: drop-shadow(1px  2px 4px #BFBFBF);
}

.history{
    padding: 8px 19px;
    margin-bottom: 38px;
    border:none;
    border-radius: 50px;
    background-color: #F6F6F6;
    color: #CB492B;
    filter: drop-shadow(1px  2px 4px #BFBFBF);
}

.profRightSide{
    float: right;
    margin-left: 82px;
    margin-bottom: 279px;
}

.Map{
    margin-top: 75px;
    margin-left: 95px;
}

.mapMain{

    width: 710px;
    height: 365px;
}


/*FOOTER*/

footer {
    font-size: 14px;
    background-color: #8A8A8A;
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: row;
}

.footerItems {
    display: flex;
    flex-direction: column;
    padding: 9px 0;
    justify-content: space-between;
}

.footerItem {
    text-decoration: none;
    color: #fff;
    padding-bottom: 9px;
}

.footerItem:last-child {
    padding: 0;
}

.footerLogo {
    margin-left: 1278px;
}


/*MODAL*/


.cartContainer {
    margin: 37px 122px;
}

.closeBtn {
    width: 14px;
    height: 14px;
    border: none;
    margin-left: 793px;
    background-color: #fff;
    transition: transform .7s ease-in-out;
}

.closeBtn:hover {
    transform: rotate(360deg);
}

.productSection {
    display: flex;
    flex-direction: row;
}

.cartTitle {
    margin-bottom: 22px;
}

.cartProd {
    margin-left: 20px;
    font-size: 20px;
}

.productImg {
    height: 74px;
    width: 101px;
}

.cartPrice {
    margin-left: 317px;
}

.totalBack {
    margin-top: 34px;
    background-color: #FFDBDB;
    width: 710px;
    height: 100px;
    border-radius: 18px;
}

.totalDelPrice {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    padding: 12px 0 31px 11px;
}

.delPrice {
    font-size: 14px;
    margin-left: 546px;
}

.totalAllPrice {
    padding: 0 0 17px 11px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

.totalPrice {
    font-size: 14px;
    margin-left: 585px;
}



/* LOGIN */
.loginPage{
    display: flex;
    flex-direction: column;
}


.logTitle{
    margin-top: 24px ;
    font-size: 46px;
}

.loginForm{
        margin: 148.7px 500px ;
}

.inputT{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 5px;
}

.loginName{
    width: 469px;
    height: 42px;
    border-radius: 5px;
    font-size: 25px;
}

.loginPass{
    width: 469px;
    height: 42px;
    border-radius: 5px;
    font-size: 25px;
}
.loginBtn{
    font-weight: bold;
    font-size: 36px;
    padding: 14px 85px;
    margin: 41px 75px;
    border-radius: 85px;
    border: none;
    background-color: #AACD3E;
}

.logInLink{
    text-decoration: none;
    color: black;
    transition: background-color 100s ease-in-out;
}

.loginBtn:hover{
    color: #fff;
    background-color: #cb492b;


}

/* @MEDIA */

@media all and (max-width: 320px){
    .container{
    max-width: 259px;
}
}